<aside class="panel sidebar-left">
    <a href="#content" class="panel-label panel-label-link" data-nav="content" data-content="Contents/Contents.txt">Contents</a>

    <div class="nav-group">
        <p class="nav-title">1 Introduction</p>
        <a href="#intro-overview" class="nav-link" data-nav="intro-overview" data-content="Contents/Introduction/Overview.txt">1-1 Overview</a>
        <a href="#getting-started" class="nav-link" data-nav="getting-started" data-content="Contents/Introduction/Getting Started.txt">1-2 Getting Started</a>
        <a href="#warming-up" class="nav-link" data-nav="warming-up" data-content="Contents/Introduction/Warming Up.txt">1-3 Warming Up</a>
    </div>

    <div class="nav-group">
        <p class="nav-title">2 API</p>
        <a href="#api-prologue" class="nav-link" data-nav="api-prologue" data-content="Contents/API/Prologue.txt">2-1 Prologue</a>
        <a href="#api-scraper" class="nav-link" data-nav="api-scraper" data-content="Contents/API/Mechanism1.txt">2-2 Scraper API</a>
        <a href="#api-rest" class="nav-link" data-nav="api-rest" data-content="Contents/API/Mechanism2.txt">2-3 REST API</a>
        <a href="#api-samples" class="nav-link" data-nav="api-samples" data-content="Contents/API/Samples.txt">2-4 Samples</a>
    </div>

    <div class="nav-group">
        <p class="nav-title">3 Website</p>
        <a href="#website-tracker" class="nav-link" data-nav="website-tracker" data-content="Contents/Website/GitHub.txt">3-1 Prologue</a>
    </div>
</aside>
